/obj/
/bin/
/alire/
/config/
alire.lock
/tools/alire/
/tests/spawn_test/
/tests/expect_test/
/tests/utilada_test/
/src/Alire_config
tests/file_utilities_tests/alire/
tests/file_utilities_tests/config/
